.card{
    display: grid;
    grid-template-rows: 1fr 0.5fr;

    width: 50%;
    margin: 0 auto;
}

.layer1{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
}

.layer2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}